#user-details-wrapper {
  width: 420px;
  .helper-text {
    margin-top: 25px;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #1d1d1d;
  }
  .user-details {
    margin-top: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: white;

    p {
      font-size: 16px;
      line-height: 16px;
      color: #262626;
    }
  }
}
